.record {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 600px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.records-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaea;
}

.records-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.record-date, .record-starttime, .record-endtime {
    margin: 0;
    padding: 5px 10px;
}

.record-name {
    margin-right: 200px;
    padding: 5px 10px;
}